header {
    background-color: darkblue;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#resultsSection {
    grid-row: 1 / span 2;
    grid-column: 2;
}

section {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px;
}

#searchIcon {
    width: 20px;
}